.note {
  width: 38rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}
h1 {
  margin: 5rem 0;
}
.red {
  background: orangered;
  color: #fff;
}
.green {
  background-color: green;
  color: #fff;
}
