* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  margin: 2rem auto;
  width: 100vw;
  background-color: #ccc;
  color: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: monospace;
}
